<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina principal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="js/jquery.js"> </script>
</head>
<body>
    <header>
        <nav class="navegador">
            <div id="" class="justify-content-center vienvenida">
                <h4 class="">vienvenido</h4> 
            </div>
  
    </header>

    <!-- principal traductor -->
    <main class="particles-js" id="app">
        <section>
                <form action="" class="row form-inline justify-content-center ">

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <select name="" id="" class="form-control" v-model="languajeFrom">
                            <option v-for="item in lenguajes" :value="item.id">{{ item.text }}</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button class="btn btn-primary " @click.prevent="switchLen"> cambio </button>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- <button class="btn btn-secondary" >Ingles</button> -->
                        <select name="" id="" v-model="languajeTo" class="form-control">
                            <option v-for="item in lenguajes" :value="item.id">{{ item.text }}</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="Espaniol col-md-6" >
                        <label for="Espaniol" class="">{{ lenguajes[languajeFrom-1].text }} </label>
                        <textarea name="" id="Espaniol" v-model="wordFrom" @keypress.enter.prevent="transletWord(wordFrom)"
                        class="form-control col-sm-12 col-md-12" rows="5" cols="60" 
                        placeholder="Escriba ..."></textarea>
    
                    </div>
                    
                    <div class="Kiche  col-md-6 ">
                        <label for="kiche">{{ lenguajes[languajeTo-1].text }}</label>
                        <textarea name="" id="kiche" v-model="wordTo" readonly
                        class="form-control col-sm-12 col-md-12 col-md-12" rows="5" cols="60" 
                        placeholder="Resultados ..."></textarea>
                            
                    </div> 
                </div>
                
               
                </form>
                <div class="imagen " v-if="url">    
                    <img :src="`http://localhost:3000/image/${url}`" class="img-fluid " alt="">
                </div>
                <br>

                   
        </section>
        <hr>
        <section class="grafica">
                        
            <div class="chart-container " >
                <canvas id="myChart"></canvas>
            </div>   
        </section>

    </main>
   
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    let app = new Vue({
        el: "#app",
        data () {
            return {
                url: '',
                wordFrom: '',
                wordTo: '',
                languajeFrom: 1,
                languajeTo: 3,
                lenguajes: [
                    { id: '1', text: 'Espanol' },
                    { id: '2', text: 'Ingles' },
                    { id: '3', text: 'Quiche' },
                ]
            }
        },
        mounted (){
          //  this.getWord("buenas noches")
          this.graficaEstadistica();
        },
        methods: {
            async graficaEstadistica(){
                try{
                    const url = "http://localhost:3000/grafica/datos"
                    const {data} = await axios.get(url)                   
                    const fila = data[0]
                    const dataEstadisitaca = [fila.palabras, fila.frases, fila.no_encontrados]
                    
                    buildChar(dataEstadisitaca)

                }catch(error){
                    console.error("error catch");
                    console.error(error);
                }
            },
            async transletWord (word) {

                this.url = ""
                this.wordTo = ""
                this.wordFrom = this.wordFrom.trim()
                try {
                    const url = `http://localhost:3000/search/word/${this.languajeFrom}/${this.languajeTo}`
                    const { data } = await axios.post(url, {
                        word
                    })
                    console.log("data :", data);
                    if (!data.length) {
                        return
                    }
                    const element = data[0]
                    this.url = this.languajeFrom == 1 ? element.url_imge : this.url
                    this.url = this.languajeFrom == 2 ? element.url_imgi : this.url
                    this.url = this.languajeFrom == 3 ? element.url_imgk : this.url
                    console.log("url ", this.url);
                    console.log("from ", this.languajeFrom);


                    this.wordTo = this.languajeTo == 1 ? element.palabrae : this.wordTo
                    this.wordTo = this.languajeTo == 2 ? element.palabrai : this.wordTo
                    this.wordTo = this.languajeTo == 3 ? element.palabrak : this.wordTo
                } catch (error) {
                    console.error(error);
                }
            },
            switchLen () {
                let aux = this.languajeFrom
                this.languajeFrom = this.languajeTo
                this.languajeTo = aux
            }
        }
    })
</script>
</body>
</html>
